.counter-container{
    text-align:center;
    margin-top:50px;
}

h1{
    font-size:2em;
}

button{
    padding: 10px 20px;
    font-size: 1em;
    margin:10px;
    cursor:pointer;
}

button:hover{
    background-color: #ddd;
}